@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fjalla+One&family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.email-list-side {
    display: flex;
    flex-direction: row;
}