.about-page {
    text-align: center;
    min-height: 90vh;
    align-items: center;
    margin: auto;
}

.about-page h1 {
    padding: 5px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin: 5px;
}

.about-page p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;

}

.about-page img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.social-icons {
    font-size: 2.5em;
    margin: 0;

}

.social-icons a {
    margin: 0.4em;
    color: rgb(36, 41, 47);

}

.social-icons a:hover {
    color: rgb(105, 109, 109);
}