.about-page {
    text-align: center;
    height: 90vh;
    align-items: center;
    margin: auto;
}

.about-page h1 {
    padding: 5px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

.about-page p {
    font-family: 'Fjalla One', sans-serif;
    font-size: 15px;

}

.about-page img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}