.home-page {
    background-color: whitesmoke;
    text-align: center;
}

.home-page h1 {
    font-family: 'Black Ops One', cursive;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    margin: 0;
    color: #264974;
    font-size: 3em;
}

.home-page h5 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
    color: black;
    font-size: 1.7em;
}

.home-page p {
    font-size: 1.5em;
    font-family: 'Fjalla One', sans-serif;

}


.home-images {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.home-page img {
    height: 13em;
}