.user-msg {
    position: fixed;
    bottom: 30px;
    right: 18px;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
    transition: 1s;
    z-index: 1;
}

.success {
    background-color: rgb(36, 41, 47);
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

.error {
    background-color: red;
    color: white;
}