.note-add {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.note-add form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3em;
}

.note-add input {
  width: 18rem;
  font-size: 1.2rem;
  outline: none;
}

.note-add-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-add,
.note-filter {
  background-color: #ebeff9;
}
