.note-filter {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 5px;
}

.note-filter input {
  width: 18rem;
  font-size: 1.2rem;
  outline: none;
}

.note-filter select {
  background-color: #9ab0c969;
  border: 1px solid white;
  border-radius: 3px;
  height: 2.7em;
  cursor: pointer;
  outline: none;
  width: 5.9em;
  text-align: center;
}
