.note-add {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.note-add form {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.note-add button {
  background-color: #9ab0c969;
  border: 1px solid white;
  border-radius: 3px;
  height: 2.7em;
  cursor: pointer;
}

.note-add input {
  width: 18rem;
  font-size: 1.2rem;
  outline: none;
}

.note-add-todos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-add,
.note-filter {
  background-color: #ebeff9;
}
