.note-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

.note-preview {
  width: 200px;
  justify-self: center;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid black;
  transition: 0.2s;
}

.note-preview:hover {
  transform: scale(1.05);
}
