.note-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  gap: 10px;
  min-height: 90vh;
}

.note-preview {
  width: 100%;
  justify-self: center;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid black;
  transition: 0.2s;
  max-width: 300px;
  word-break: break-word;
}

.note-preview:hover {
  transform: scale(1.05);
}
