.note-add-options {
  display: flex;
  justify-content: center;
  gap: 4em;
  margin-bottom: 2rem;
}

.add-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.add-option:hover {
  color: orange;
}
