.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  grid-template-rows: auto;
  gap: 10px;
}

.note-preview {
  width: 200px;
  justify-self: center;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid black;
  transition: 0.2s;
}

.note-preview:hover {
  transform: scale(1.05);
}
