.note-options {
  display: flex;
  gap: 10px;
}

.note-options i {
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.orange {
  color: orange;
}

.color-change {
  opacity: 0;
  width: 11%;
  position: relative;
  right: 34px;
  top: 5px;
  cursor: pointer;
}
