.book-filter {
    background-color: #eceff9;
    padding: 5px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;

}

.book-filter input {
    align-items: center;
    height: 1.9em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    background-color: #fdfeff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-right: 0.5em;
}

.book-filter button {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    border: none;

}

.book-filter button:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);

}

.book-filter .addPlus {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    color: white;

}

.book-filter .addPlus:hover {
    color: black;
}

.book-filter ul {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 10px;
}