@import './components/note-list.css';
@import './components/note-options.css';
@import './components/note-add-options.css';

img {
  width: 100%;
}

input {
  border-radius: 10px;
  background-color: rgb(197, 212, 207);
  border: none;
  outline: none;
}

form {
  display: flex;
  justify-content: center;
}

form input {
  font-size: 2.3em;
  margin-bottom: 30px;
}
