/* COMPONENTS  */

@import 'components/emails-list.css';
@import 'components/email-preview.css';
@import 'components/email-deatils.css';
@import 'components/email-filter.css';
@import 'components/email-side.css';
@import 'components/email-compose.css';



.email-app {
    min-height: 90vh;
    overflow-x: hidden;
    padding-top: 1em;
    margin: auto
}

.main-mail-layout {
    max-width: 1280px;
}