.email-preview-container {
    min-width: 100%;
    /* cursor: pointer; */
    display: flex;
    gap: 1em;

}

.icons {
    cursor: pointer;
}

.email-info {
    /* margin-left: 1em; */
    /* width: 50px; */
}

.email-title {
    /* padding-left: 5em; */

}

.email-date {
    background-color: rgb(174, 211, 243);
}


.read {
    background-color: rgba(212, 218, 218, 0.8);
    font-weight: normal;
}

/* 
.email-preview-container td {}

.email-preview-container .read td {} */

.star {
    color: rgb(226, 226, 29);
}