.emails-list {
    background-color: white;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: .2px;
    font-weight: bold;

}

.emails-list table {
    width: 100%;
}

.emails-list a {
    text-decoration: none;
    color: black;
}