.emails-list {
    text-align: left;
    width: 100%;
    display: table;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: .2px;
    font-weight: bold;
    max-height: 1em;
}